<!-- <p>vehicle-listing works!</p>

-->

<!-- 
<span>
    <a mat-button (click)="getVehicles()"routerLink="vehicles" >Vehicles</a>
</span> -->


<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon (click)="deleteVehicle(row)">delete</mat-icon>
          <mat-icon [routerLink]="['updatevehicle',row._id]">edit</mat-icon> 
  
  
          <!-- <i class="material-icons">delete</i> -->
        </mat-cell>
  
  
        <!-- <i class="material-icons">delete</i> -->
  
        <!-- <mat-icon (click)="editUser(row)">edit</mat-icon> -->
  
       </ng-container>
  
      <!-- ID Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Brand</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.brand}}</mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Model </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.model}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="make">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Make </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.make"> {{row.make}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="power">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Power </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.power"> {{row.power}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="seats">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Seats </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.seats"> {{row.seats}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="carriage_price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Carriage </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.carriage_price"> {{row.carriage_price}} </mat-cell>
      </ng-container>
  
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25,50, 100]"></mat-paginator>
  </div>